@import url('css/codemirror.css');
@import url('css/lucario.css');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em 2em;
    font-family: tahoma, arial, sans-serif;
    background-color: #153144;
    background-image: url('wave.svg');
    color: white;
    background-size: cover;
    height: 100vh;
}

#editor {
    display: flex;
    justify-content: space-between;
}

#wrapper {
    display: flex;
}

.codeareaWrapper {
    display: flex;
    flex-direction: column;
}

.CodeMirror {
    width: 25rem;
    min-height: 25rem;
    display: inline-block;
    filter: drop-shadow(1px 4px 12px #101820);
    border-radius: 20px;
    margin-right: 2rem;
}

.errorMsg2 {
    width: 25rem;
    max-height: 30rem;
    color: #ef7b5f;
    font-size: 20px;
    display: inline-block;
    outline: 0px none transparent;
    border: none;
    filter: drop-shadow(1px 4px 7px #101820);
    background: rgb(21, 49, 68);
    background: linear-gradient(
        158deg,
        rgba(21, 49, 68, 1) 8%,
        rgba(0, 62, 65, 1) 94%
    );
    border-radius: 10px;
    margin-top: 5px;
}
.errorMsg {
    width: 25rem;
    max-height: 30rem;
    color: green;
    font-size: 20px;
    display: inline-block;
    outline: 0px none transparent;
    border: none;
    filter: drop-shadow(1px 4px 15px #101820);
    background: rgb(21, 49, 68);
    background: linear-gradient(
        158deg,
        rgba(21, 49, 68, 1) 8%,
        rgba(0, 62, 65, 1) 94%
    );
    border-radius: 10px;
    margin-top: 5px;
}

.submit,
.reset,
.add_2nd_solution {
    display: inline-block;
    color: #cbdae5;
    background: #53686d;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    border: 0.2px solid #003e41;
    -webkit-border-radius: 31;
    -moz-border-radius: 31;
    border-radius: 31px;
    position: relative;
    bottom: 3px;
    filter: drop-shadow(3px 4px 12px #101820);
    outline: none;
    text-decoration: none;
}

.submit:hover,
.reset:hover,
.add_2nd_solution:hover,
#btn:hover {
    background: #003e41;
    color: #ef7b5f;
}

.submit:focus,
.reset:focus,
.add_2nd_solution:focus,
#btn:focus {
    outline: none;
}

.inputField {
    display: inline-block;
    padding-bottom: 1.5rem;
    padding-left: 0.4rem;
    border-radius: 8px;
    filter: drop-shadow(1px 4px 12px #101820);
}

#chart {
    display: inline-block;
    padding-bottom: 3.3rem;
    padding-left: 1rem;
    margin-left: 2em;
    margin-right: 1em;
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
    color: #b1b4b5;
    filter: drop-shadow(1px 4px 12px #101820);
    border-radius: 8px;
}

#arg1,
#arg2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.4rem;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 0.2rem;
    background: #bdc5cb;
    display: block;
    transition: all 0.3s;
    filter: drop-shadow(1px 4px 12px #101820);
}

.titleWrapper {
    text-align: center;
    color: #b1b4b5;
    filter: drop-shadow(1px 4px 12px #101820);
    margin-bottom: 2em;
}

p {
    margin-top: 5em;
    color: #bdc5cb;
}

span {
    color: purple;
}
span:hover {
    color: orange;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

@keyframes animate {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 40%;
    animation-name: animate;
    animation-duration: 0.6s;
    filter: drop-shadow(5px 4px 12px #153144);
    border-radius: 20px;
    background: #8c9a98;
}

#close {
    color: #eff1f2;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
}

#close:hover,
#close:focus {
    color: #ef7b5f;
    text-decoration: none;
    cursor: pointer;
}

.modal-top {
    padding: 2px 16px;
    opacity: 0.7;
    color: #eff1f2;
    background: rgb(21, 49, 68);
    background: linear-gradient(
        158deg,
        rgba(21, 49, 68, 1) 8%,
        rgba(0, 62, 65, 1) 94%
    );
}

.modal-bottom {
    padding: 2em;
    opacity: 0.8;
    box-shadow: 50px, 60px, 189px rgba(0, 0, 0, 0.95);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    height: 400px;
    text-align: center;
}

#btn {
    position: relative;
    color: white;
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #44535d;
}

#btn,
#chart,
.inputField,
.submit,
.reset,
.add_2nd_solution {
    opacity: 0.7;
    box-shadow: 50px, 60px, 189px rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(20px);
    filter: drop-shadow(5px 4px 12px #22292e);
    border: solid 1px transparent;
    border-radius: 10px;
    background-image: linear-gradient(
        125deg,
        rgba(21, 49, 68, 0.9) 21.83%,
        rgba(0, 62, 65, 0.1) 189.95%
    );
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
