@import url('css/codemirror.css');
@import url('css/lucario.css');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em 2em;
    font-family: tahoma, arial, sans-serif;
    background-color: #153144;
    background-image: url('wave.svg');
    color: white;
    background-size: cover;
    height: 100vh;
}

#editor {
    display: flex;
    justify-content: space-between;
}

#wrapper {
    display: flex;
}

.codeareaWrapper {
    display: flex;
    flex-direction: column;
}

.CodeMirror {
    width: 25rem;
    min-height: 25rem;
    display: inline-block;
    filter: drop-shadow(1px 4px 12px #101820);
    border-radius: 20px;
    margin-right: 2rem;
}

.errorMsg2 {
    width: 25rem;
    max-height: 30rem;
    color: #ef7b5f;
    font-size: 20px;
    display: inline-block;
    outline: 0px none transparent;
    border: none;
    filter: drop-shadow(1px 4px 7px #101820);
    background: rgb(21, 49, 68);
    background: linear-gradient(
        158deg,
        rgba(21, 49, 68, 1) 8%,
        rgba(0, 62, 65, 1) 94%
    );
    border-radius: 10px;
    margin-top: 5px;
}
.errorMsg {
    width: 25rem;
    max-height: 30rem;
    color: green;
    font-size: 20px;
    display: inline-block;
    outline: 0px none transparent;
    border: none;
    filter: drop-shadow(1px 4px 15px #101820);
    background: rgb(21, 49, 68);
    background: linear-gradient(
        158deg,
        rgba(21, 49, 68, 1) 8%,
        rgba(0, 62, 65, 1) 94%
    );
    border-radius: 10px;
    margin-top: 5px;
}

.submit,
.add_2nd_solution {
    display: inline-block;
    color: #cbdae5;
    background: #53686d;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    border: 0.2px solid #003e41;
    -webkit-border-radius: 31;
    -moz-border-radius: 31;
    border-radius: 31px;
    position: relative;
    bottom: 3px;
    filter: drop-shadow(3px 4px 12px #101820);
    outline: none;
    text-decoration: none;

    opacity: 0.7;
    box-shadow: 50px, 60px, 189px rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(20px);
    filter: drop-shadow(5px 4px 12px #22292e);
    border: solid 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(
            125deg,
            rgba(21, 49, 68, 0.9) 21.83%,
            rgba(0, 62, 65, 0.1) 189.95%
        ),
        url('noise.svg');
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-image-source: linear-gradient(
        175deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 1)
    );
}

.submit:hover,
.add_2nd_solution:hover {
    background: #003e41;
}

.submit:focus,
.add_2nd_solution:focus {
    outline: none;
}

.inputField {
    display: inline-block;
    padding-bottom: 1.5rem;
    padding-left: 0.4rem;
    border-radius: 8px;
    filter: drop-shadow(1px 4px 12px #101820);

    opacity: 0.7;
    box-shadow: 50px, 60px, 189px rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(20px);
    filter: drop-shadow(5px 4px 12px #22292e);
    border: solid 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(
            125deg,
            rgba(21, 49, 68, 0.9) 21.83%,
            rgba(0, 62, 65, 0.1) 189.95%
        ),
        url('noise.svg');
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-image-source: linear-gradient(
        175deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 1)
    );
}

#chart {
    display: inline-block;
    padding-bottom: 3.3rem;
    padding-left: 1rem;
    margin-left: 2em;
    margin-right: 1em;
    /* background: rgb(21, 49, 68);
    background: linear-gradient(
        158deg,
        rgba(21, 49, 68, 1) 8%,
        rgba(0, 62, 65, 1) 94%
    );
    filter: drop-shadow(1px 4px 12px #101820);
    border-radius: 20px; */

    opacity: 0.7;
    box-shadow: 50px, 60px, 189px rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(20px);
    filter: drop-shadow(5px 4px 12px #22292e);
    border: solid 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(
            125deg,
            rgba(21, 49, 68, 0.9) 21.83%,
            rgba(0, 62, 65, 0.1) 189.95%
        ),
        url('noise.svg');
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-image-source: linear-gradient(
        175deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 1)
    );
    /* border-image-slice: 1; */
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
    color: #b1b4b5;
    filter: drop-shadow(1px 4px 12px #101820);
    border-radius: 8px;
}

#arg1,
#arg2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.4rem;
    margin: 0 auto;
    /* margin-bottom: 1em; */
    border: 1px solid white;
    border-radius: 0.2rem;
    background: #bdc5cb;
    /* border: none; */
    display: block;
    transition: all 0.3s;
    filter: drop-shadow(1px 4px 12px #101820);
}

.titleWrapper {
    text-align: center;
    color: #b1b4b5;
    filter: drop-shadow(1px 4px 12px #101820);
    margin-bottom: 2em;
    /* width: 100%; */
}

p {
    margin-top: 5em;
    color: #bdc5cb;
}
/* 
.title:before {
    content: '';
    position: absolute;
    width: 6%;
    height: 4px;
    bottom: 0;
    margin-top: 3px;
    left: 18%;
    border-bottom: 3px solid orange;
    float: left;
} */
