@import url('css/codemirror.css');
@import url('css/lucario.css');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em 6em;
  font-family: tahoma, arial, sans-serif;
  background-color: #153144;
  background-image: url('wave.svg');
  color: white;
  background-size: cover;
}

.CodeMirror {
  width: 41rem;
  min-height: 25rem;
  display: inline-block;
  filter: drop-shadow(1px 4px 12px #101820);
  border-radius: 8px;
}

.cm-s-lucario.CodeMirror {
  /* border-bottom: 3px solid #1c415a;
  border-left: 3px solid #1c415a;
  border-right: 3px solid #1c415a;
  border-top: 3px solid #1c415a;
  border-radius: 5px; */
}

#errorMsg {
  width: 41rem;
  max-height: 30rem;
  color: #d13c18;
  font-size: 20px;
  display: inline-block;
  outline: 0px none transparent;
  border: none;
  filter: drop-shadow(0 4px 10px #101820);
  background: rgb(21, 49, 68);
  background: linear-gradient(
    158deg,
    rgba(21, 49, 68, 1) 8%,
    rgba(0, 62, 65, 1) 94%
  );
  border-radius: 8px;
  margin-top: 5px;
}

#submit {
  display: inline-block;
  color: #b1b4b5;
  background: #53686d;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  bottom: 3px;
  filter: drop-shadow(1px 4px 12px #101820);
  outline: none;
}

#submit:hover {
  background: #d13c18;
}

.inputField {
  display: inline-block;
  padding-bottom: 1.5rem;
  padding-left: 0.4rem;
  border-radius: 8px;
  filter: drop-shadow(1px 4px 12px #101820);
}

#chart {
  display: inline-block;
  padding-bottom: 6.3rem;
  padding-left: 1rem;
  margin-left: 3rem;
  border-radius: 5px;
  background: rgb(21, 49, 68);
  background: linear-gradient(
    158deg,
    rgba(21, 49, 68, 1) 8%,
    rgba(0, 62, 65, 1) 94%
  );
  filter: drop-shadow(1px 4px 12px #101820);
  border-radius: 8px;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: #b1b4b5;
  filter: drop-shadow(1px 4px 12px #101820);
  border-radius: 8px;
}

#arg1,
#arg2 {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.4rem;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  transition: all 0.3s;
  filter: drop-shadow(1px 4px 12px #101820);
}

.title {
  text-align: center;
  color: #b1b4b5;
  filter: drop-shadow(1px 4px 12px #101820);
}
